@{
    ViewData["Title"] = "Pops Southern Buffet";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="MainImg" class="dailyMenu block">
                <img alt="MainImg" class="autoMarginLeftRight topMargin2em width95 maroonBorder showShadow" src="~/Images/MainImg.png" />
            </div>

            <div id="MondayPage" class="dailyMenu padding10 noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem underLine">Monday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="PorkChop_Chicken.jpg" src="~/Images/PorkChop_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        Monday Breakfast Buffet 8am - 11am<br />
                        $13.50 includes <br />
                        Drink, Scramble Eggs, Sausage, Bacon, Grits,
                        Sausage Gravy, Biscuits, Hash Brown and Pancakes
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Lunch Menu 11am - 2pm<br />
                        $11.00 includes<br /> 
                        Drink, Fries and Coleslaw <br />
                        Your Choice of :<br />
                        Cheeseburger, Hamburger, Fish Sandwich,
                        Grilled or Fried Chicken Sandwich, 
                        Sloppy Joe,
                        Grilled Cheese or 
                        BBQ Pork Sandwich 
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Dinner Buffet 4pm til 8pm <br />
                        $16.00 includes<br /> 
                        Drink Salisbury Steak, Fried Chicken, Fried Pork Chop
                        Mashed Potatoes, Gravy, Greens, Acre Peas, Sweet Carrots, Cream Peas, Squash & Onion
                    </p>

                </article>
            </div>

            <div id="TuesdayPage" class="dailyMenu noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Tuesday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="Taco_Chicken.jpg" src="~/Images/Taco_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        Taco Tuesday 4pm-8pm<br />
                        All You Can Eat Taco Buffet $16.00
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Hard and soft tacos, refried beans, vegatables and sides, includes salad bar
                    </p>
                </article>
            </div>

            <div id="WednesdayPage" class="dailyMenu noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Wednesday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="Wings_Chicken.jpg" src="~/Images/Wings_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        Wing Wednesday<br /> 4pm - 8pm<br />
                        All you Can Eat Buffet $16.00.
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Plain, Breaded, BBQ, Mild, Hot, Garlic Parmesan and Teriyaki wings plus all your homestyle veggies,  
                        salad bar and drink.
                    </p>
                </article>
            </div>

            <div id="ThursdayPage" class="dailyMenu topMargin1em noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Thursday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="Meatloaf_Chicken.jpg" src="~/Images/Meatloaf_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        Hey guys it's Meatloaf, Liver and Onions and Stuffed Bell Peppers Casserole buffet this evening 
                        from 4pm - 8pm.
                    </p> 

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        For just $16 you get the dinner buffet, salad bar and a drink.
                    </p>
                </article>
            </div>

            <div id="FridayPage" class="dailyMenu topMargin1em noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Friday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="Crab_Chicken.jpg" src="~/Images/Crab_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        3pm - 8 pm<br />
                        All you Can Eat Seafood and Crablegs for<br />,<span class="redText bold fontSize1_Halfem centerText">*****$44.99******</span><br />
                        that includes the salad bar and drink.<br />
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Or simply enjoy our Seafood Buffet for just $16.<br />
                    </p>
                </article>
            </div>

            <div id="SaturdayPage" class="dailyMenu topMargin1em noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Saturday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="Crab_Chicken.jpg" src="~/Images/Crab_Chicken.jpeg" />
                    </div>

                    <p class="centerText">
                        3pm - 8 pm<br />
                        All you Can Eat Seafood and Crablegs for<br />,<span class="redText bold fontSize1_Halfem centerText">*****$44.99******</span><br />
                        that includes the salad bar and drink.<br />
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Or simply enjoy our Seafood Buffet for just $16.<br />
                    </p>
                </article>
            </div>

            <div id="SundayPage" class="dailyMenu topMargin1em noDisplay">
                <article>
                    <p class="centerText fontSize1_Halfem topMargin1em underLine">Sunday Menu</p>

                    <div class="width30 autoMarginLeftRight">
                        <img class="SundayLogo.jpg" src="~/Images/SundayLogo.jpg" />
                    </div>

                    <p class="centerText">
                        All You Can Eat Buffet $16.00<br />11am - 2pm
                    </p>

                    <div class="pageDivider"></div>

                    <p class="centerText">
                        Fried Chicken, Fried Pork Chops, Boston Butt
                        Rice, Gravy, Potatoes and Carrots, Greens, Acre Peas, Squash & Onions, Cream Peas, Sweet Carrots plus Our Salad Bar
                    </p>
                </article>
            </div>

        </div>
        <div class="col-md-4">
            <aside id="MainMenu" class="col-md-4 width95 topMargin7em backMoccasin maroonBorder showShadow">
                <p class="centerText fontSize1_Halfem">Daily Menus</p>
                <hr class="myHR" />
                <h2 id="H2Monday">Monday</h2>
                <h2 id="H2Tuesday">Tuesday</h2>
                <h2 id="H2Wednesday">Wednesday</h2>
                <h2 id="H2Thursday">Thursday</h2>
                <h2 id="H2Friday">Friday</h2>
                <h2 id="H2Saturday">Saturday</h2>
                <h2 id="H2Sunday" class="bottomMargin1em">Sunday</h2>
            </aside>
        </div>
    </div>
</div>

